button.fbtn-container {
  border: 1px solid var(--btn);
  color: var(--btn);
  text-transform: none;
  border-radius: 10px;
  font-weight: 400;
}

button.fbtn-container:hover {
  border: 1px solid var(--btn-hover);
  color: var(--btn-hover);
  background-color: unset;
}

button.primary {
  background-color: var(--primary-btn);
  color: white;
}

button.secondary {
  border: 1px solid var(--secondary-btn-outline);
  background-color: var(--secondary-btn);
  color: var(--bold-primary-text);
}

button.secondary:hover {
  border: 1px solid var(--btn);
}

button.fbtn-container:disabled {
  background-color: var(--disabled-btn);
  border-color: unset;
}

button.alert {
  background-color: var(--alert);
  border-color: var(--alert-background);
}

button.alert.secondary {
  background-color: var(--alert-background);
  border-color: var(--alert);
  color: var(--alert);
}

button.alert:hover {
  background-color: var(--alert-background);
  color: var(--alert);
  border-color: var(--alert);
}

button.alert.secondary:hover {
  background-color: var(--alert);
  color: white;
}
