.chat-suggestions-container {
  block-size: 20%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

h6.user-greet {
  block-size: 20%;
}

.suggestions {
  block-size: 80%;
  inline-size: 90%;
  padding-inline: 5%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5%;
  justify-content: space-evenly;
}

.clarifications {
  margin-block-start: 1em;
}
