.suggestion-container {
  background-color: var(--primary-overlay);
  border: 1px solid var(--btn);
  inline-size: 23%;
  block-size: 50%;
  padding-inline: 2%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  /* margin-inline: 2.5%; */
  /* opacity: 0; */
}

.suggestion-container.clarification {
  padding-block: 1%;
}

.suggestion-container:hover {
  border-color: var(--btn-hover);
}
