.message-container {
  display: flex;
  flex-direction: column;

  /* inline-size: 97.5%; */
  /* margin-inline-start: 2.5%; */
}

.message {
  position: relative;
  inline-size: fit-content;
  padding-inline: 1.5em;
  padding-block: 1em;
  background-color: var(--neutral);
  border-radius: 10px;
  color: var(--secondary-text);
}

.message.system-message.graph {
  margin-block-start: 2em;
  inline-size: calc(100% - 4em);
}

.graph-message {
  inline-size: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

button.tab-btn {
  text-transform: unset;
  padding: unset;
  min-height: unset;

  border: 1px solid var(--primary-outline);
  border-radius: 5px;
  line-height: 21px;
  color: var(--neutral-text);
  font-weight: 400;
  background-color: transparent;
}

button.tab-btn.Mui-selected {
  color: var(--secondary-text);
  font-weight: 500;
  background-color: var(--secondary);
}

.table-row {
}

/* key insights */
.insights-container {
  inline-size: 50%;
  margin-inline-start: 2%;
}
.insights-list {
  display: flex;
  flex-direction: column;
  gap: 0.35em;
  padding-inline: 5% 0;
  margin-block: 0.75em 0;

  /* max-block-size: 15em;
  overflow-y: auto; */
}
.key-insight-title,
.insights-list-title {
  font-weight: 600;
  /* margin-block: 1em 5em; */
  /* margin-block: 1em; */
}

.insights-list-title {
  font-size: 18px;
  inline-size: 100%;
}

.message.user-message {
  align-self: flex-end;
}

.message.system-message {
  background-color: var(--primary);
  margin-inline-end: 1em;
}

.date-container {
  margin-block: 0 1em;
  inline-size: 100%;
  text-align: center;
}

.date-label {
  color: var(--neutral-text);
  font-weight: 400;
  font-size: 16px;
}
