.chat-user-input-container {
  block-size: 10%;
  inline-size: 93.5%;

  display: flex;
  align-items: center;
}

input.user-input {
  padding: unset;
  padding-inline: 3%;
  padding-block: 0.5%;
  /* color: black; */
}

div.chat-user-input {
  width: 100%;
}

.chat-user-input fieldset {
  /* padding-inline : ; */
  border-color: var(--btn);
  border-radius: 10px;
}

button.send-btn:hover {
  background-color: unset;
}
